body {
  font-family: 'Barlow', sans-serif;
}

.bg {
  background-image: url('./images/blake-wisz-tE6th1h6Bfk-unsplash.jpg');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-2 {
  background-image: url('./images/christiann-koepke-dQyS2pMYtok-unsplash.jpg');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.thumbnail:hover {
  position: relative;
  top: -25px;
  left: -35px;
  width: 100%;
  height: auto;
  display: block;
  z-index: 999;
}
